@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home h1{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;
    z-index: 99;
}
.home h2{
    text-shadow: 2px 1px 5px white;
    z-index: 99;
}
.home img{
    z-index: 99;
}

.home-body::after{
    position: absolute;
    z-index: 1;
    content: "";
    inset: 0;
    background-color: whitesmoke;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.home .btn{
    /* background-color: red; */
    z-index: 999;
}


@media (min-width: 768px) {
    .home{
        width: 90%;
        margin: auto;
    }
    .home-body::after{
        position: absolute;
        background-color: white;
        inset: 0;
        content: "";
        z-index: 1;
        left: 35%;
        clip-path: polygon(
            50% 0,
            100% 0,
            100% 100%,
            5% 100%
        )
    }
    .home h1{
        font-size: 70px;
        text-shadow: 10px 10px 10px black;
    }
    .home h2{
        font-size: 14px;
        text-shadow: 2px 5px 10px rgb(134, 133, 133);
    }
    .textMaestro{
        margin-bottom: 3rem;
        left: 90px;
        position: relative;
    }
    #car{
        margin-top: 7rem;
        margin-right: 3rem;
    }
}

@media (min-width: 1024px){
    .home h1{
        font-size: 8vw;
        font-weight: 600;
        text-shadow: 10px 10px 10px black;
    }
    /* .textMaestro{
        margin-left: 10px;
    } */
    .home h2{
        font-size: 24px;
        text-shadow: 2px 5px 10px rgb(134, 133, 133);
    }
    #car{
        margin-top: 10rem;
        /* width: 70%; */
    }
}