.wrapper{
    /* background-color: red; */
    /* height: calc(100vh - 50px); */
}

.trafficLights img{
    /* border: 2px solid black; */
    width: 80vw;
    min-width: 200px;
    max-width: 350px;
    aspect-ratio: 3/2;
    
    /* margin: 5px 0; */
}

.trafficLights div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* setting all text color inside the trafficLights div color white */
.trafficLights {
    color: white;
}

.trafficLights p{
    /* color: red; */
    font-weight: bold;
    margin-top: 10px;
}

/* --------------------------- */
/* properBraking styles */
.properBraking{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.properBraking img{
    margin: 10px 0;
    width: 80vw;
    min-width: 200px;
    max-width: 350px;
    aspect-ratio: 3/2;
}
.properBraking p{
    font-weight: bold;
    margin-top: 10px;
}


/* tablet screen size */
@media (min-width: 768px){
    .wrapper{
        /* background-color: red; */
        width: 90vw;
    }

    /* traffic lights */
    .trafficLights div{
        /* background-color: green; */
        flex-direction: row;
        justify-content: space-between;
        /* gap: 4; */
        /* margin: 5px; */
        margin: 2rem 0;
    }
    .trafficLights span{
        /* background-color: purple; */
        width: fit-content;
        margin-left: 10px;
        font-size: 18px;
    }

    /* proper braking */
    .properBraking span{
        /* background-color: red; */
        width: 80vw;
        margin: auto;
        font-size: 18px;
    }
}

/* desktop view */
@media (min-width: 1024px){
    .wrapper{
        /* background-color: red; */
        width: 80vw;
        margin: 2rem auto;
    }
    .trafficLights span{
        font-size: 24px;
        line-height: 1.2;
        margin-left: 3rem;
    }

    /* proper braking */
    .properBraking span{
        font-size: 24px;
        line-height: 1.2;
        margin-left: 3rem;
    }
}

